body{
    margin: 0px;
    font-family: sans-serif;
}
#main{
    border: 2px solid  black;
    width: 99.7%;
    height: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#line{
    border: 2px solid skyblue;
    width: 80px;
    margin-top: -15px;
}
#container{
    border: 2px solid black;
    width: 500px;
    height: 350px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    
}
#circle{
    border: 2px solid black;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}
#name{
    /* border: 1px solid black; */
    width: 200px;
    height: 20px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
}
#skill{
    /* border: 1px solid black; */
    width: 200px;
    height: 20px;
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(125, 205, 236);
}
#bio{
    /* border: 1px solid black; */
    width: 450px;
    height: 110px;
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#arrow{
    /* border: 1px solid black; */
    width: 100px;
    text-align: center;
    gap: 10px;
}
i{
    font-size: xx-large;
    color:skyblue ;

}
#left{
    margin-left: 10px;
   
}
#right{
    margin-right: 10px;
}
#random{
    border: 1px solid black;
    width: 80px;
    height: 15px;
    border-radius: 10px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}